*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:    'Gilory';
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #bacbec;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 400px;
    width: 350px;
    background-color:#fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#container i{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0); 
    opacity: 0;
    transition: transform ease 0.5s;
}
#main{
    /* height: 450px; */
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
     flex-direction: column;
     background-color: rgb(255, 255, 255);
     transition: all .5s;
}
/* #main i{
    font-size: 50px;
    color: black;
} */
#main p{
    font-size: 15px;
    
}
#main #cont{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
#cont i{
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
#det{
    position: relative;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 20px;
}
#cont #book{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cont i p {
    color: black;
}
#main .comment{
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(250px - 3.5rem);
    border-top: 2px solid black;
    overflow-y: scroll;
    transition: all .5s;
    overflow-x: hidden;
    padding: 0 5px;
}

::-webkit-scrollbar{
    display: none;
}
.comment h5{
    font-size: 15px;
    font-weight: 300;
    padding: 5px 3px;
    background-color: #ece7e7;
    color: rgb(31, 30, 30);
    border-radius:5px;
    width: 98%;
    margin: 2px 0;
    text-transform: capitalize;
}
.box #int{
    font-size: 20px;
    padding-left: 15px;
    padding-right: 50px;
    outline: none;
    width: 90%;
    height: 2.5rem;
    border-radius: 50px;
    margin: 10px 0;
    /* position: absolute; */
    bottom: 0px;
}
.box{
    position: relative;
    height: 3.5rem;
    border-radius: 0 0 5px 5px ;
    width:100%;
    bottom: 0;
    background-color: #2d2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box i{
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 25px;
    
}
.main1{
    display: none;
    height: 250px;
    transition: all .5s;
}
.box i:active{
    font-size: 24px;
}

.side{
    border: 1px solid black;
    height: 455px;
    width: 300px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 4px;
    transition: all .5s;
    /* margin-bottom: 250px; */
}

.Senduser{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    /* border: 2px solid #000; */
    width: 100%;
    margin: 3px 0;
}

.Senduser img{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    width: 100%;
    border-radius: 5px;
    /* border: 2px solid #000; */
    width: 100%;
    margin: 4px;
}

.user img{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.userDetails{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 65px);
    padding: 10px;
    overflow-x: hidden;
}

.userDetails h2{
    width: 100%;
}

.commentpara{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}


/* .Senduser input{
    display: inline-block;
    width: 15px;
    height: 20px;
    border: 2px solid #24A68A; 
    border-radius: 50px;
    position: relative;
}

input[type="checkbox"]:checked + .Senduser input::before {
    content: '\2713';
    font-size: 16px;
    line-height: 20px;
    color: #24A68A; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */